html {
	height : 100%;
}
body {
	width : 80%;
	height : 100%;
	margin : 0 auto;
	background: #666f7c; /* Old browsers */
	background: -moz-linear-gradient(top, #666f7c 0%, #dbe0e7 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666f7c), color-stop(100%,#dbe0e7)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #666f7c 0%,#dbe0e7 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #666f7c 0%,#dbe0e7 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #666f7c 0%,#dbe0e7 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666f7c', endColorstr='#dbe0e7',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #666f7c 0%,#dbe0e7 100%); /* W3C */
	background-repeat: no-repeat;
	
	font-size : 13px;
	font-family : helvetica,sans-serif;
	overflow : hidden;
}
label {
	display : block;
}

a {
	color : #1C4257 !important;
	text-decoration: none;
}
a:hover {
	color : #B9E0F5;
	border-bottom : 1px dotted #B9E0F5;
}
.ui-state-hover a {
	border : none;
}
p {
	margin : .5em 0;
}

#logo_bkg {
	position: relative;
	bottom: 0;
	width : 520px;
	opacity : 0.4;
	z-index : -1;
	left : -138px;
	top : -273px;
}
#header {
	margin-bottom : 20px;
}
#header img {
/* 	height : 100px; */
}
#main {
	background-color: white;
	height : 100%;
	padding : 8px;
	overflow : auto;
	
}
.capitals {
	font-size : 90%;
}
.CodeMirror {
	font-size : 90%;
	line-height : 1.1em;
}

.CodeMirror-scroll {
	height : 500px;
}

#menu {
/* 	width : 300px; */
/* 	height : 296px; */
	padding : 5px;
	
}
#menu ul {
	
}

.listheader {
	font-size : 90%;
	font-weight: bold;
}

#sendDoc {
/* 	display: block; */
	
}


form {
/* 	display: inline-block; */
/* 	margin-left : 146px; */
}
form input[type=text] {
	width : 100px;
}

#columns {
	width : 100%;
}

#about {
	font-size : .9em;
}
#rightTab {
}

#log {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	margin : 0;
}

#columns > div {
}



#left_col {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	box-flex: 2;
}
#right_col {
	vertical-align: top;
	width : 200px;
	margin-left : 8px;
}

#editor {
	padding : 0;
}

.ui-tabs .ui-tabs-panel {
}

.ui-corner-all {
	-moz-border-radius : 2px;
	border-radius : 2px;	
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.ui-corner-top {
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.col_footer {
	width : 100%;
	margin : 2px 0;
}

.hbox {
	display: -webkit-box !important;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
 
	display: -moz-box !important;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;

	display: box !important;
	box-orient: horizontal;
	box-align: stretch;
}
.vbox {
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
 
	display: -moz-box !important;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;

	display: box !important;
	box-orient: vertical;
	box-align: stretch;
}

.hbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
.vbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}

.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}